*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
gradle.properties/
gradle/
gradlew.bat/
*.iml
ICDeviceManager-1.0.9_build253/build
schemas/

